<ion-content>
  <div id="top">
    <img id="logo">
    <p>{{ carrier }}, {{ country }}  </p>
  </div>

  <div id="menu">
    <div id="menuItem" (click)="scan()">
      <img id="scanAirtime" class="icon">
      <p>Scan airtime</p>
    </div>
    <div id="menuItem" (click)="buyData()">
      <img id="buyData" class="icon">
      <p>Buy data</p>
    </div>
  </div>
  <div id="menu">
    <div id="menuItem" (click)="checkBalance()">
      <img id="checkBalance" class="icon">
      <p>Check Balance</p>
    </div>
    <div id="menuItem" (click)="customerCare()">
      <img id="customerCare" class="icon">
      <p>Customer care</p>
    </div>
  </div>
</ion-content>
