div#top {
    width: 100%;
    height: 35%;
    background: linear-gradient(157deg, #3c51a3, #ef496c);
    text-align: -webkit-center;
}

#logo{
    content: url(./fortizo-06.png);
    width: 100px;
    margin-top: 15%;
}

div#menu {
    width: 100%;
    height: 32.5%;
    text-align: -webkit-center;
    display: flex;
}

div#menuItem {
    width: 100%;
    height: 100%;
    background: linear-gradient(157deg, #3c51a3, #ef496c);
}

#scanAirtime{
    content: url(./scan.png);
}

#buyData{
    content: url(./transfer.png);
}

#checkBalance{
    content:url(./balance.png);
}

#customerCare{
    content:url(./cc.png);
}

.icon {
    margin-top: 30%;
}

div#menuItem p {
    color: white;
    font-size: 13px;
}
